@font-face {
    font-family: 'Gasoek One';
    src: url('GasoekOne-Regular.woff2') format('woff2'),
        url('GasoekOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

